body{
  background-repeat: no-repeat;
  background-size: cover;
}
#contenedorTareas{
  margin: 20px;
  display: flex;
  justify-content: center;
  height: auto;
  margin-left: 30px !important;
}
.sesion {
  margin-left: 150px !important;
  background-color: #0c8a07;
}

.prueba{
  margin-left: 400px;
}
.contacto {
  margin: 5px;
  background-color: #21ce1b;
}

.contenedor-tareas{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenedor-tareas p {
  margin: 0;
  font-size: 16px;
}

button {
  background-color: #fc1f1f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0c8a07;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

div {
  font-family: Arial, sans-serif;
}

h2 {
  color: #ee1111 !important;
}
